runs/benchmark_win5/events.out.tfevents.1587034896.MSI.3208.0
bined_y_win5.npy
runs/benchmark_win5/events.out.tfevents.1587034348.DESKTOP-LRQ28VJ.65724.4
bined_y_win1.npy
bined_y_win2.npy
bined_y_win3.npy
bined_y_win4.npy
runs/benchmark_win1/events.out.tfevents.1587035005.MSI.18184.0
runs/benchmark_win4/events.out.tfevents.1587035050.MSI.18184.3
runs/benchmark_win3/events.out.tfevents.1587035033.MSI.18184.2
runs/benchmark_win5/events.out.tfevents.1587035070.MSI.18184.4
runs/benchmark_win3/events.out.tfevents.1587034614.DESKTOP-LRQ28VJ.30160.2
runs/benchmark_win2/events.out.tfevents.1587035018.MSI.18184.1
runs/benchmark_win2/events.out.tfevents.1587028930.MSI.17764.0
runs/benchmark_win2/events.out.tfevents.1587028930.MSI.17764.0
runs/benchmark_win2/events.out.tfevents.1587034609.DESKTOP-LRQ28VJ.30160.1
runs/benchmark_win1/events.out.tfevents.1587028862.MSI.5860.0
